<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="../public/domManipulation.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express</title>
</head>
<body>
    <nav>
        <ul>
            <a href="home"><li>Home</li></a>
            <a href="about"><li>About</li></a>
            <a href="gallery"><li>Gallery</li></a>
        </ul>
    </nav>
    <h1>Sou o about</h1>
</body>
</html>